<div class="page-header">
  <div class="container">
    <h1>{{header}}</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 end-xs mt-1">
      <a routerLink="/" color="primary" mat-raised-button>
        <mat-icon>chevron_left</mat-icon> Back to List
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <!-- Student Details -->
      <form #studentForm="ngForm">
        <div class="row">
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input type="text" name="firstName" required matInput [(ngModel)]="student.firstName">
              <mat-error>First Name is required</mat-error>
            </mat-form-field>
          </div>
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input type="text" name="lastName" required matInput [(ngModel)]="student.lastName">
              <mat-error>Last Name is required</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Date of Birth</mat-label>
              <input type="text" name="dateOfBirth" required matInput [(ngModel)]="student.dateOfBirth" [matDatepicker]="picker" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error>Date of Birth is required</mat-error>
            </mat-form-field>
          </div>
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Gender</mat-label>
              <!-- <input type="text" name="gender" matInput [(ngModel)]="student.gender.description" /> -->
              <mat-select name="gender" required [(ngModel)]="student.genderId">
                <mat-option *ngFor="let gender of genders" [value]="gender.id">{{gender.description}}</mat-option>
              </mat-select>
              <mat-error>Gender is required</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input type="email" name="email" required matInput [(ngModel)]="student.email" />
              <mat-error>Email is required</mat-error>
            </mat-form-field>
          </div>
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Mobile #</mat-label>
              <input type="number" name="mobile" required matInput [(ngModel)]="student.mobile" />
              <mat-error>Mobile is required</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline">
              <mat-label>Physical Address</mat-label>
              <textarea rows="3" name="physicalAddress" required matInput [(ngModel)]="student.address.physicalAddress"></textarea>
              <mat-error>Physical Address is required</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline">
              <mat-label>Mailing Address</mat-label>
              <textarea rows="3" name="mailingAddress" required matInput [(ngModel)]="student.address.mailingAddress"></textarea>
              <mat-error>Mailing Address is required</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs" *ngIf="!isNewStudent">
            <button mat-raised-button color="primary" (click)="onUpdate()">Update Student</button>
            <button mat-raised-button color="warn" (click)="onDelete()" class="ms-1">Delete Student</button>
          </div>
          <div class="col-xs" *ngIf="isNewStudent">
            <button mat-raised-button color="primary" (click)="onAdd()">Add Student</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-xs-6">
      <div class="row center-xs">
        <div class="image-container">
          <img [src]="displayImageUrl" alt="Profile Image" />
        </div>
      </div>
      <div class="row center-xs mt-1" *ngIf="!isNewStudent">
        <div class="col-xs-12">
          <input type="file" #imageUpload hidden (change)="uploadImage($event)" />
          <button mat-raised-button color="primary" (click)="imageUpload.click()">Update Image</button>
        </div>
      </div>
    </div>
  </div>
</div>